@model List<UsersRoleViewModel>

@{
	var roleId = ViewBag.RoleId;
}
<form method="post">
	<div class="card" style="width:fit-content;margin:20px">
        <div class="card-header">
            <h2>Add or remove users from this role</h2>
        </div>
        <div class="card-body">
           @for (var i = 0; i < Model.Count; i++)
           {
               <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected"/>
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
           }
        </div>
        <div class="card-footer" style="display:flex;align-items:center;">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto;" />
            <a asp-action="EditRole" asp-route-id="@roleId"
               class="btn btn-primary" style="width:auto; margin-left:11px;margin-bottom:15px">Cancel</a>
        </div>
    </div>
</form>